body{
    background-color: #1D6A96;
}
.navlogo{
    text-decoration: none;
    font-size: 60px;
    color: #283B42;
}
.navbar{
    display: flex;
    float: right;
}
.navbar span{
    color: aquamarine;
    padding-top: 10px;
}
.navbar a
{
    text-decoration: none;
    color: #283B42;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
}
.navbar a:hover
{
    background-color: #85B8CB;
    border-radius: 10px;
    color: aliceblue;
}
div img{
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* Contact */
.formlook{
    
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 10px;
    background-color: #D1DDDB;
    border-radius: 20px;
    
   
}
.formlook a{
    display: block;
    padding: 10px;
    font-size: 40px;    
}
div form{
    color: #283B42;
    display: flexbox;
    padding: 10px;
    margin: 5px;
    text-align: center;
    justify-content: center; 
    
}
div form a input {
    width: 280px;
    height: 30px;
    font-size: 20px;
    background-color: #283B42;
    border-radius: 20px;
    text-align: center;
}
.buttoncont a {
    text-decoration: none;
    font-size: 25px;
    color: #283B42;
    border-radius: 20px;
    border: solid rgb(71, 76, 122);
    width: 100px;
    height: 10px;
    padding: 20px;
    display: inline-block;
}
.maintext span{
    width: 100px;
    justify-content: right;
    float: right;
    height: 300px;
    width: 900px;
}

.maintext span a{
    display: flex;
    
}
iframe{
    display: flex;
    float: right;
    padding-right: 80px;
    margin: 0px;

}

.videoads a {
    padding-left: 80px;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 150px;
}
